<div class="container">

	<form class="form-signin" ng-submit="login()" >
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><h2 class="form-signin-heading">Please sign in</h2></div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><input type="text" class="form-control" placeholder="Email address" ng-model="email" required autofocus></div>
			<div class="col-md-4"></div>
		</div>	
		<div class="row">
			<div class="col-md-4"></div>
      <div class="col-md-4"><input type="password" class="form-control" placeholder="Password" ng-model="pass" required></div>
			<div class="col-md-4"></div>
		</div>	
		<div class="row">
			<div class="col-md-4"></div>
       <div class="col-md-4"><label class="checkbox">
				<input type="checkbox" value="remember-me"> Remember me
        </label></div>
			<div class="col-md-4"></div>
		</div>	
		<div class="row">
			<div class="col-md-4"></div>
        <div class="col-md-4"><button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button></div>
			<div class="col-md-4"></div>
		</div>	
	</form>

    </div> <!-- /container -->
